body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
}

@font-face {
  font-family: Roboto;
  src: url('../../font/roboto/Roboto-Regular.ttf');
}


/*.divpaper {
  padding: 100px;
}*/


/*
.paper {
  width: 600px;
  height: 400px;
}*/

h3,
label {
  font-family: 'Roboto';
}

html {
  font-family: 'Roboto' !important;
  font-size: 16px  !important;
  line-height: 1.6  !important;
  word-wrap: break-word  !important;
}

.panel {
  padding-top: 50px;
}

/*.innerPanel {
  padding: 15px;
  /*padding-right: 20px;
  padding-left: 20px;
}*/

.progress {

  /*padding-top: 230px;*/
  /*padding: 20px;*/
}